@use "../variables/breakpoints" as *;
@use "../variables/variable" as *;

.hero-btn {
  width: 170px;
  height: 60px;
  background-color: rgb(255, 135, 16);
  border-radius: 8px;
  color: white;
}
.play-demo {
  gap: 10px;
  font-weight: $font-s;
  i {
    background-color: red;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
